<a href="/administracion">Administración</a>
<a href="/nuevo-grupo">Nuevo Grupo</a>
<a href="/nuevo-meeti">Nuevo Meeti</a>
<form action="/cerrar-sesion" method="post">
    <input type="submit" class="btn btn-rojo" value="Cerrar Sesión">
</form>