<main class="contenedor contenedor-formularios no-padding">
    <h1><%- nombrePagina %></h1>

    <form class="default-form" action="/cambiar-password" method="POST">
        <div class="campo">
            <label>Password Anterior</label>
            <input type="text" name="passwordAnterior">
        </div>
        <div class="campo">
            <label>Password Nuevo</label>
            <input type="text" name="passwordNuevo">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Cambiar Password">
        </div>
    </form>
</main>